
  <div class="navbar navbar-dark navbar-expand-lg fixed-top navbar-north" role="navigation" id="navbarNorth">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-3 order-1">
  <!-- LOGOTYPE START -->
          <a href="./" class="logotype-white" {{action 'start'}} role="banner">SWECO</a>
  <!-- LOGOTYPE STOP -->
        </div>
  <!-- NAVBAR TOGGLER START -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNorthNav" aria-controls="navbarNorthNav" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
  <!-- NAVBAR TOGGLER STOP -->
  <!-- NAV START -->
        <div class="collapse navbar-collapse col-12 col-lg-3 order-3" id="navbarNorthNav">
          <ul class="nav flex-md-column">
            <li class="nav-item">
              <a class="nav-link active" href="./" {{action 'start'}}>Start</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:;" {{action 'frontPage'}}>Sweco Digital Platforms</a>
            </li>
          </ul>
        </div>
  <!-- NAV STOP -->
        <div class="col-12 col-lg-6 order-2">
  <!-- SEARCH START -->
          {{sweco-search value=query search='search' clear='clear'}}
  <!-- SEARCH STOP -->
        </div>
      </div>
    </div>
<!-- PROGRESS START -->
    {{progress-js isLoading=isLoading}}
<!-- PROGRESS STOP -->
  </div>
