
  <div class="navbar fixed-top navbar-north" role="navigation" id="navbarNorth">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-3 col-lg-3">
<!-- LOGOTYPE START -->
          <a href="./" class="logotype-white" {{action 'start'}} role="banner">SWECO</a>
<!-- LOGOTYPE STOP -->
        </div>
        <div class="col-12 col-md-6 col-lg-6">
<!-- SEARCH START -->
          {{sweco-search value=query search='search' clear='clear'}}
<!-- SEARCH STOP -->
        </div>
<!-- NAV START -->
        <ul class="nav nav-top-right">
          <li class="nav-item">
            <a class="nav-link active" href="./" {{action 'start'}}>Start</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:;" {{action 'frontPage'}}>Sweco Digital<span class="hidden-lg-down"> Platforms</span></a>
          </li>
        </ul>
<!-- NAV STOP -->
      </div>
    </div>
<!-- PROGRESS START -->
    {{progress-js isLoading=isLoading}}
<!-- PROGRESS STOP -->
  </div>
